.e-wrapper {
    background-color: white;
}

.e-container {
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.e-container>div {
    flex: 1;
}

.leftside {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.leftside .exp {
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-white);
    padding: 1.5rem;
    gap: 2rem;
    transition: all 200ms ease-out;
}

.leftside .exp:hover {
    cursor: pointer;
    box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.04);
}

/* icon  */
.leftside .exp>:nth-child(1) {
    padding: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
}

/* description  */
.leftside .exp>:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.exp-desc {
    font-size: 1.6rem;
    font-weight: bold;
}

/* stats */

.rightside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stats {
    justify-content: flex-start;
    gap: 4rem;
}

.stat {
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 668px) {
    .rightside {
        text-align: center;
    }

}